<div
	id="arcade-root"
	class="hidden z-50 fixed top-0 left-0 flex items-center justify-center p-12 w-screen h-screen rounded"
>
	<div
		id="arcade-root-inner"
		class="w-full h-full border border-8 bg-gray-900 flex flex-col rounded-lg overflow-hidden"
	>
		<div class="flex justify-end p-2 text-white">
			<button
				id="close-arcade-button"
				class="text-white border border-white px-4 py-2 rounded"
			>
				Genug gezockt
			</button>
		</div>
		<div class="flex-1" style="background: #262626">
			<canvas id="arcade-canvas" style="width: 100%; height: 100%"></canvas>
		</div>
	</div>
</div>
