<div
	id="chat-root"
	class="hidden fixed top-0 left-0 flex items-center justify-center p-12 w-screen h-screen rounded"
>
	<div
		id="chat-root-inner"
		class="w-full h-full border border-8 bg-white flex flex-col rounded-lg overflow-hidden"
	>
		<div class="flex justify-between p-2 text-black">
			<div class="flex items-center px-2">
				<div class="mr-4">
					Kamera ist <span id="jitsi-camera-status" class="font-bold">AN</span>
				</div>
				<div>
					Mikrofon ist
					<span id="jitsi-microphone-status" class="font-bold">AN</span>
				</div>
			</div>
			<button
				id="close-chat-button"
				class="text-black border border-black px-4 py-2 rounded"
			>
				Gespräch verlassen
			</button>
		</div>
		<div id="jitsi" class="flex-1">
			<!-- jitsi iframe -->
		</div>
	</div>
</div>
