<ul>
	<li class="mb-2">
		&raquo; Du kannst Dich mit den Pfeiltasten auf deiner Tastatur fortbewegen.
	</li>
	<li class="mb-2">
		&raquo; Halte Shift gedrückt, um dich schneller bewegen zu können.
	</li>
	<li class="mb-2">
		&raquo; Klicke auf deinen Avatar, um ein Gespräch mit den Menschen in deiner Umgebung zu starten (oder eines der versteckten Features zu entdecken).
	</li>
	<li class="mb-2">
		&raquo; Wenn ein Nutzer ein Gespräch gestartet hat, siehst Du einen grünen Kreis um ihn. Gehe in seine Nähe und tritt dem Video-Call bei.
	</li>
	<li class="mb-2">
		&raquo; Findest du die Kaffeemaschinen? Geh doch mal hin und klicke auf deinen Avatar.
	</li>
	<li class="mb-2">
		&raquo; Seid nett zueinander.
	</li>
</ul>
