<div
	id="whiteboard-root"
	class="hidden z-50 fixed top-0 left-0 flex items-center justify-center p-12 w-screen h-screen rounded"
>
	<div
		id="whiteboard-root-inner"
		class="w-full h-full border border-8 bg-white flex flex-col"
	>
		<div class="bg-teal-900 flex justify-between p-2 text-white">
			<div class="flex">
				<div class="ml-2 mr-12 flex items-center">
					<button id="whiteboard-image-export">
						<svg
							viewBox="0 0 20 20"
							version="1.1"
							xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink"
							width="20px"
							height="20px"
							class="fill-current w-full"
						>
							<g stroke="none" stroke-width="1" fill-rule="evenodd">
								<path
									d="M0,1.99079514 C0,0.891309342 0.894513756,0 1.99406028,0 L16,0 L20,4 L20,18.0059397 C20,19.1072288 19.1017876,20 18.0092049,20 L1.99079514,20 C0.891309342,20 0,19.1017876 0,18.0092049 L0,1.99079514 Z M5,2 L15,2 L15,8 L5,8 L5,2 Z M11,3 L14,3 L14,7 L11,7 L11,3 Z"
								></path>
							</g>
						</svg>
					</button>
				</div>
				<div class="flex flex-row mr-3">
					<button
						id="pencil-black"
						class="mr-1 bg-gray-900 text-white py-1 px-2 border border-black"
						data-color="#1a202c"
						style="transform: translate(0, 2px);"
					>
						Schwarz
					</button>
					<button
						id="pencil-blue"
						class="mr-1 bg-blue-600 text-black py-1 px-2 border border-blue-900"
						data-color="#3182ce"
					>
						Blau
					</button>
					<button
						id="pencil-red"
						class="mr-1 bg-red-600 text-black py-1 px-2 border border-red-900"
						data-color="#e53e3e"
					>
						Rot
					</button>
					<button
						id="pencil-orange"
						class="mr-1 bg-orange-500 text-black py-1 px-2 border border-orange-900"
						data-color="#ed8936"
					>
						Orange
					</button>
					<button
						id="pencil-green"
						class="mr-1 bg-green-600 text-black py-1 px-2 border border-green-900"
						data-color="#38a169"
					>
						Gr체n
					</button>
					<button
						id="pencil-purple"
						class="mr-1 bg-purple-600 text-black py-1 px-2 border border-purple-900"
						data-color="#805ad5"
					>
						Lila
					</button>
					<button
						id="pencil-white"
						class="mr-1 bg-white text-black py-1 px-2 border border-teal-900"
						data-color="#ffffff"
					>
						asd
					</button>
				</div>
				<div class="flex items-center mr-3">
					<label for="whiteboard-stroke-width" class="mr-1">Strichst채rke</label>
					<select id="whiteboard-stroke-width" class="text-black">
						<option value="3" selected>thin</option>
						<option value="5">bold</option>
						<option value="8">extra-bold</option>
					</select>
				</div>
			</div>
			<button
				id="close-whiteboard-button"
				class="px-2 py-1 text-sm font-light hover:underline"
			>
				Genug Kreativit채t f체r heute
			</button>
		</div>
		<div id="whiteboard-canvas" class="flex-1"></div>
	</div>
</div>
