<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Hello synyx | admin</title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body class="flex flex-col w-screen h-screen items-center justify-center p-4">
		<p class="text-4xl font-bold mb-8">Ah ah ah...</p>
		<img src="/not-authorized.jpg" width="1280px" height="720px" />
	</body>
</html>
