<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>COSY</title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<div class="flex-col">
			<div class="flex">
			<div class="w-1/2 flex items-center justify-center pr-24">
				<div class="flex flex-col">
					<div class="flex-1 mb-4">
						<img class="w-full" src="/logo_cosy.svg" />
					</div>
					<div class="mb-4">
						Your colleagues. Your office. Your home.
					</div>
				<form action="/login" method="POST" class="w-full max-w-xs">
					<input type="hidden" name="_csrf" value="{{csrf}}" />
					{{#if error}} {{#if username}}
					<p class="mb-8 text-red-500 text-sm">
						Benutzername schon vergeben
						<small class="block mt-1"
							>Probier einfach einen anderen aus
							<span role="presentation">¯\_(ツ)_/¯</span></small
						>
					</p>
					{{/if}} {{/if}}
					<div class="mb-4">
						<input
							class="appearance-none border rounded-sm w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
							id="username"
							name="username"
							type="text"
							placeholder="Username"
							value="{{username}}"
						/>
						<!-- passport local strategy denies authentication when no password is provided, even if it is never used -->
						<input
							class="hidden"
							id="password"
							name="password"
							value="ignore_me"
						/>
					</div>
					<div>
						<button
							type="submit"
							class="w-full bg-black hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-sm focus:outline-none focus:shadow-outline"
						>
							Test Me
						</button>
					</div>
				</form>
				</div>
			</div>
			<div class="w-1/2 flex items-center p-8">
				<img class="shadow-xl rounded" src="/mockup.png" />
			</div>
		</div>
			<div class="flex">
				<div class="w-1/3 flex flex-col items-center pr-24">
					<img class="w-20" src="/icon_together.svg" />
					<div class="text-3xl">Together.</div>
					<div class="text-center">Treffe dich mit deinen Kollegen in eurem virtuellen Office, zum gemeinsamen Arbeiten oder entspannten Austausch an der Kaffeemaschine.</div>
				</div>
				<div class="w-1/3 flex flex-col items-center pr-24">
					<img class="w-20" src="/icon_collaborate.svg" />
					<div class="text-3xl">Collaborate.</div>
					<div class="text-center">Nutze alle Möglichkeiten zur besseren Teamarbeit wie virtuelle Meetingräume mit Video und Chatfunktion, Whiteboards und vieles mehr.</div>
				</div>
				<div class="w-1/3 flex flex-col items-center pr-24">
					<img class="w-20" src="/icon_fun.svg" />
					<div class="text-3xl">Have fun.</div>
					<div class="text-center">Entfliehe dem Alltag, entdecke versteckte Games und lustige Eastereggs.</div>
				</div>
			</div>
		</div>
		<div class="absolute bottom-0 w-full flex-column text-center text-xs">
			<div class="pb-5">
				This is a beta version of COSY, a virtual office tool by synyx in the process of being tested before its official release.
				This being so, COSY by synyx does not give any warranties, whether express or implied, as to the suitability or usability of the website, its software or any of its content.
			</div>
			<div>
				Should you encounter any bugs, glitches, lack of functionality or other problems on the website, please let us know cosy@synyx.de
			</div>
		</div>
		{{> application-version-info-script}}
	</body>
</html>
