<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>COSY</title>
		<link rel="stylesheet" href="/css/style.css" />
		<style>
			html {
				height: 100%;
			}
			body {
				min-height: 100%;
			}
		</style>
	</head>
	<body class="flex flex-col">
		<h1 class="sr-only">cosy</h1>
		<div class="flex-1 mb-16 md:mb-32">
			<div class="grid gap-16 md:grid-cols-2 p-16 md:mb-16">
				<div class="flex items-center justify-center">
					<div class="flex flex-col">
						<div class="flex-1 mb-4">
							<img class="w-full" src="/logo_cosy.svg" width="640px" role="presentation" />
						</div>
						<p class="mb-4">
							Your colleagues. Your office. Your home.
						</p>
						<form action="/login" method="POST" class="w-full max-w-xs">
							<input type="hidden" name="_csrf" value="{{csrf}}" />
							{{#if error}} {{#if username}}
							<p class="mb-8 text-red-500 text-sm">
								Benutzername schon vergeben
								<small class="block mt-1"
									>Probier einfach einen anderen aus
									<span role="presentation">¯\_(ツ)_/¯</span></small
								>
							</p>
							{{/if}} {{/if}}
							<div class="mb-4">
								<input
									class="appearance-none border rounded-sm w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
									id="username"
									name="username"
									type="text"
									placeholder="Username"
									value="{{username}}"
								/>
								<!-- passport local strategy denies authentication when no password is provided, even if it is never used -->
								<input
									class="hidden"
									id="password"
									name="password"
									value="ignore_me"
								/>
							</div>
							<div>
								<button
									type="submit"
									class="w-full bg-black hover:bg-gray-600 text-white font-medium py-2 px-4 rounded-sm focus:outline-none focus:shadow-outline"
								>
									Test Me
								</button>
							</div>
						</form>
					</div>
				</div>
				<div class="flex items-center justify-center">
					<img class="shadow-xl rounded max-w-xl w-full" src="/mockup.png" alt="Das virtuelle synyx Büro in dem sich deine Kollegen tummeln." />
				</div>
			</div>
			<h2 class="sr-only">Benefits</h2>
			<div class="grid md:grid-cols-3 gap-8 max-w-screen-xl mx-auto">
				<div class="flex flex-col items-center">
					<img
						class="w-20 mb-3"
						src="/icon_together.svg"
						width="64px"
						height="64px"
						role="presentation"
					/>
					<div class="text-3xl mb-2">
						<strong class="font-medium">Together.</strong>
					</div>
					<p class="text-center px-8 md:px-4">
						Treffe dich mit deinen Kollegen in eurem virtuellen Office, zum
						gemeinsamen Arbeiten oder entspannten Austausch an der
						Kaffeemaschine.
					</p>
				</div>
				<div class="flex flex-col items-center">
					<img
						class="w-20 mb-3"
						src="/icon_collaborate.svg"
						width="64px"
						height="64px"
						role="presentation"
					/>
					<div class="text-3xl mb-2">
						<strong class="font-medium">Collaborate.</strong>
					</div>
					<p class="text-center px-8 md:px-4">
						Nutze alle Möglichkeiten zur besseren Teamarbeit wie virtuelle
						Meetingräume mit Video und Chatfunktion, Whiteboards und vieles
						mehr.
					</p>
				</div>
				<div class="flex flex-col items-center">
					<img
						class="w-20 mb-3"
						src="/icon_fun.svg"
						width="64px"
						height="64px"
						role="presentation"
					/>
					<div class="text-3xl mb-2">
						<strong class="font-medium">Have fun.</strong>
					</div>
					<p class="text-center px-8 md:px-4">
						Entfliehe dem Alltag, entdecke versteckte Games und lustige
						Eastereggs.
					</p>
				</div>
			</div>
		</div>
		<div class="p-4 max-w-5xl mx-auto text-center">
			<div class="mb-8">
				<p class="mb-2 text-xs">
					This is a beta version of COSY, a virtual office tool by synyx in the
					process of being tested before its official release. This being so, COSY
					by synyx does not give any warranties, whether express or implied, as to
					the suitability or usability of the website, its software or any of its
					content.
				</p>
				<p class="text-xs">
					Should you encounter any bugs, glitches, lack of functionality or other
					problems on the website, please let us know
					<a
						href="mailto:cosy@synyx.de?subject=Cosy%20Feedback"
						class="underline text-gray-800 hover:text-black"
					>
						cosy@synyx.de
					</a>
				</p>
			</div>
			<nav class="flex items-center mb-8">
				<ul class="flex mx-auto space-x-4">
					<li class="">
						<a href="https://synyx.de" class="underline font-light text-sm">synyx</a>
					</li>
					<li class="">
						<a href="https://synyx.de/impressum" class="underline font-light text-sm">Impressum</a>
					</li>
					<li class="">
						<a href="https://synyx.de/datenschutz" class="underline font-light text-sm">Datenschutz</a>
					</li>
				</ul>
			</nav>
		</div>
		{{> application-version-info-script}}
	</body>
</html>
